body {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #09d3f7;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}

.element-menu {
  background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #334dff, #e933ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textflow 5s linear infinite;
}

.element-menu:hover {
  background-color: #a6b0f7;
  border-radius: 15px;
}

.title {
  background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #334dff, #e933ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textflow 5s linear infinite;
}


.section {
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes textflow {
  from {
    background-position: 0% center
  }

  to {
    background-position: 200% center
  }
}

/* .title {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite;
    align-items: center;
  } */
.title-container {
  display: flex;
  justify-content: center;
}

/* @keyframes neon-2 {
    from {
      text-shadow: 0 0 5px #31c2cc,
        0 0 10px #31c2cc,
        0 0 15px #31c2cc,
        0 0 20px #31c2cc;
    }
  
    to {
      text-shadow: 0 0 20px #31c2cc,
        0 0 35px #31c2cc,
        0 0 40px #31c2cc,
        0 0 50px #31c2cc,
        0 0 800px #31c2cc;
    }
  } */
.menu {
  background-color: #31c2cc;
  display: flex;
  justify-content: space-around;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.container-wrap {
  flex-wrap: wrap;
}

.container-goods {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border: solid 2px #09d3f7;
  border-radius: 15px;
  padding: 3px;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.description {
  margin-bottom: 10px;
  text-align: justify;
  width: 230px;
}
.subtitle-goods{
  margin-block-start: 3px;
  margin-block-end: 3px;
}
.name-color{
  background: linear-gradient(90deg, #e933ff, #ff3333, #334dff, #e933ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textflow 5s linear infinite;
}
.main{
  padding-left: 5px;
  padding-right: 5px;
}